{% extends 'base.html.twig' %}

{% block title %}All programs by category{% endblock %}

{% block body %}
    <h1>Toutes les séries de la catégorie {{ category }} : </h1>
    {% for program in programs %}
        <div>
            <h2>{{ program.id }} / {{ program.title }}</h2>
            <p>{{ program.synopsis }}</p>
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('category_index') }}">
        Retour aux catégories
    </a>
{% endblock %}